<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a81e8">  <td>17/10/04 10:11:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DataproviderExcel.afterTest()[pri:0, instance:com.dataprovider.DataproviderExcel@77cd7a0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/04 10:12:05</td>   <td>12084</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DataproviderExcel.afterTest()[pri:0, instance:com.dataprovider.DataproviderExcel@77cd7a0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/04 10:11:46</td>   <td>-6974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataproviderExcel.search(java.lang.String)[pri:0, instance:com.dataprovider.DataproviderExcel@77cd7a0]">search</td> 
  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/04 10:12:02</td>   <td>9161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DataproviderExcel.search(java.lang.String)[pri:0, instance:com.dataprovider.DataproviderExcel@77cd7a0]">search</td> 
  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/04 10:11:30</td>   <td>-22160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataproviderExcel.setUp()[pri:0, instance:com.dataprovider.DataproviderExcel@77cd7a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>17/10/04 10:11:54</td>   <td>1871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DataproviderExcel.setUp()[pri:0, instance:com.dataprovider.DataproviderExcel@77cd7a0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td>  <td>main@1310540333</td>   <td></td> </tr>
</table>
